#root {
	background-image: url('images/blob-1.png'), url('images/blob-2.png');
	background-position: 100% 0, 0 100%;
	background-size: 40vw, 20vw;
	background-repeat: no-repeat;
	background-color: #f5f7fb;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: relative;
}
.App {
	font-family: 'Karla', sans-serif;
	font-weight: 300;
	font-size: 1rem;
	color: #293264;
	width: 100%;
	max-width: 50rem;
	padding: min(5vw, 5rem);
}

button {
	text-align: center;
	background: #4d5b9e;
	border: 0.8px solid #4d5b9e;
	color: white;
	border-radius: 0.5rem;
	min-width: 5rem;
	padding: 0.7rem 1.4rem;
	display: block;
	margin: 1.5rem auto;
	cursor: pointer;
}
.hidden {
	display: none;
}
